[Desktop Entry]
Name=UDPLogger
Name[de_AT]=UDPLogger.desktop
GenericName=c
GenericName[de]=UDPLogger
Comment=Logging and plotting UDP Data
Comment[de]=Loggen und plotten von UDP Paketen
Exec=com.github.UDPLogger.UDPLogger %U
Icon=com.github.UDPLogger.UDPLogger.png
Terminal=false
Type=Application
Categories=Electronics;
StartupNotify=false

